@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --navbar-color: #141515;
    --background-color: #282E32;
    --card-color: #99B6C6;
    --navbar-font-color: #FBFBFB;
    --font-color: #141515;
    --button-color: #525B5D;
    --button-font-color: #FBFBFB;
    --font: "Roboto", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

body {
    margin: 0px;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 100px auto 100px;
    color: var(--font-color);
    font-family: var(--font);
}

/* laptop */
    nav {
        background-color: var(--navbar-color);
        grid-column-start: 1;
        grid-column-end: -1; 
    }

    #hamburger-items {
        display: flex;
        justify-content: flex-end;
    }

    #hamburger-items > a {
        text-decoration: none;
        padding: 20px 25px 25px 20px;
        color: var(--navbar-font-color);
        transition: transform 1s;
    }
    
    #hamburger-items > a:hover {
        background-color: var(--background-color);
        transform: scale(1.15,1.15);
    }

    #hamburger-menu {
        display: none;
    }

    #hamburger {
        display: none;
    }

    #last-nav-item {
        margin-right: 25px;
    }

    main {
        border-radius: 12px;
        background-color: var(--card-color);
        width: 60ch;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        padding: 10px 30px 30px;
        border: solid white;
        text-align: center;
        margin: auto;

    }

    main > h1 {
        animation-name: biggerH1;
        animation-duration: 1s;
    }

    @keyframes biggerH1 {
        from {font-size: 2.5rem;}
        to {font-size: 2rem;}
    }

    picture > source, picture>img {
        width: 50%;
        height: 40%;
    }

    main > a {
        /* rounded buttons */
        border-radius: 20px;
        padding: 10px;
        width: 100px;
        background-color: var(--button-color);
        color: var(--button-font-color);
        text-decoration: none;
    }

    main > p {
        text-align: left;
        margin-top: 20px;
    }

    #contact-btn {
        margin-right: 40px;
    }

/* tablet */
@media only screen and (max-width: 800px) {
    body {
        display: block;
    }
    
    main {
        margin-top: 100px;
        width: 60vw;
        text-align: center;
    }

    button > a {
        padding: 5px 10px;
    }

    #contact-btn {
        margin-right: 10px;
    }
}

/* phones */
@media only screen and (max-width: 400px) {
    body {
        background-color: var(--card-color);
    }
    
    main {
        width: 90vw;
        height: 100vh;
        border: none;
        border-radius: 0px;
        padding: 0px;
    }

    picture > source, picture>img {
        width: 65%;
        height: fit-content;
    }

    #hamburger-items > a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        transition: none;
    }

    #hamburger-menu {
        display: inline-block;
        padding: 20px 0px 20px 25px;
    }

    #hamburger-items { 
        display: none;
    }

    #hamburger-items > a:hover {
        transform: none;
    }
    nav input:checked ~ #hamburger-items { 
        display: block; 
    }

}